spring:
  application:
    name: zencode-backend
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/etherPoap?characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  ai:
    openai:
      api-key: sk-OZLkjQiMhcFmV6YYXqoRrlCIUT4CnnGARbQKsDCUsyU2wN7S
      # 使用OpenAI的默认base-url
      chat:
        options:
          model: gpt-3.5-turbo
          temperature: 0.2

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: none
      table-underline: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when_authorized
  metrics:
    tags:
      application: ${spring.application.name}

springdoc:
  swagger-ui:
    path: /docs
  api-docs:
    enabled: true

server:
  port: 9090  # 使用9090端口

logging:
  level:
    org.springframework: info
    com.zencode.backend: debug
    com.baomidou.mybatisplus: debug